APP_NAME=RedMesaStudios_API
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=rmsApi
DB_USERNAME=rmsApi
DB_PASSWORD=password

# Email Configuration
MAIL_MAILER=smtp
MAIL_HOST=smtp.improvmx.com
MAIL_PORT=587
MAIL_USERNAME=noreply@redmesastudios.com
MAIL_PASSWORD=password
MAIL_ENCRYPTION=null
MAIL_FROM_ADDRESS=noreply@redmesastudios.com
MAIL_FROM_NAME="${APP_NAME}"

# Contact Form Recipient
CONTACT_FORM_RECIPIENT_EMAIL=david.barkman13@gmail.com
